{% extends "base.html" %}


{% block js %}
{% endblock %}


{% block main %}

<h1 style="color:blue;">Homepage</h1>
<br>
You can route the different pages by using the / and stating the page you want to go to.
<br>profile, profiles, or profile/(User-Id-Number).
<br>
<hr style="color:blue;" />
<p>Click <a href="/profile">'/profile'</a> to add new profile</p>
<br>
<p>Click <a href="/profiles">'/profiles'</a> to view a list of all users.<p>
<br>
<p>Click <a href="/profile/1">'/profile/1'</a> to view profile of user '1'.
<br>You can change the number in the address bar to view other profiles. (Valid profile  numbers only)</p>
<hr style="color:blue;" />

{% endblock %}
